$bg-header:#303841;
$bg-section1:#3A4750;
$bg-section2:#dedcdc;
$bg-section3: #F6C90E;




@import "fuentes";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header{
    display: grid;
    grid-template-columns: 45% 55% ;
    height: 130px;
    width: 100%;
    background-color: rgb(17, 17, 17);
    position: sticky;
    top: 0%;
    z-index: 10;

    .header__img{
        display: flex;
        align-items: center;

        a{
            margin-left: 10px;
            margin-right: 10px;
            text-decoration: none;

            h1{
                color: white;

                span{
                    color: $bg-section3;
                }

            }
        }
    }

    .header__links{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        

        a{
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            text-align: center;

            


            &:hover{
                transform: scale(1.1);
            }
        }

    }

    




}



.section__carrusel{
    display: block;
    width: 100%;
    align-content: center;
    justify-content: center;
    #section__carrusel{
        width: 100%;
        position: relative;
        top: 0;
        z-index: 8;

        #t1{
            width: 100%;
            top: 45%;
            position: absolute;
            text-align: center;
            z-index: 9;
            color: rgba(255, 255, 255, 0.675);
            font-size: 60px;
            font-family: 'Koulen', cursive;

            
            
        }
        

        .carrusel-inner{

            div{
                #img__carrusel1{
                    height: 100vh;
                    margin: 0%;
                }
                
                #img__carrusel2{
                    height: 100vh;
                }
                
                #img__carrusel3{
                    height: 100vh;
                }
                
            }

        }

        button{
            z-index: 10;
        }

    }

}




.section__1{
    height: 100vh;
    margin-top: 100px;
    
    .fondos1{
        height: 100vh;
        width: 65%;
        margin: 0 auto;
        background-color: #dedcdc;
        padding: 10px;
        font-family: 'Roboto', sans-serif;

        #titulos1{
            text-align: center;
            font-size: 40px;
            margin-top: 20px;
        }


        .grid1{
            height: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 36% 36%   ;
            align-items: center;
            
              
            div{
                
                
                .article1{
                    width: 100%;
                    font-size: 20px;
                    justify-items: center;
                    align-items: center;


                    div{
                        width: 100%;
                        text-align: center;
                        justify-items: center;
                    
                    }
                }

                img#img{
                    justify-content: center;
                    height: 350px;
                    
                }
                p{
                    text-align: center;
                    font-size: 25px;
                }
            }
    

        }
    }     

} 









.section3{
    background-color: $bg-section3;
    height: 90vh;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Koulen', cursive;
    color: black;

    .class__section3{
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 50px;

        
        #s3a{
            font-size: 30px;
            color: black;
            text-decoration: none;
            margin-top: 15px;


        }

    }

    
}


.section4{
    background-color: $bg-header;
    height: 1000px;
    font-family: 'Roboto', sans-serif;


    .content__s4{
        h1{
            text-align: center;
            color: white;
            margin-bottom: 50px;
        }

        .fotos__actividades{
            display: flex;
            justify-content: space-evenly;       
            a{
                text-align: center;
                color: white;
                text-decoration: none;
                width: 33%;

                img{
                    border-radius: 1%;
                }
            }
        
        } 
            
    }


}








#sectabla{
    width: 100%;
    margin: 0 auto;
    color: white;
    justify-items: center;
    z-index: 4;
    height: 1300px;

    background-color: $bg-header;


    h1{
        text-align: center;
        margin-bottom: 60px;
    }
   


    .horarios{
   
        width: 0 auto;
        height: 150vh;

        background-color: $bg-header;
        
        margin: 0;
        display: grid;
        grid-template-columns: repeat(7, auto)  ;
        grid-template-rows: repeat(15, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 100px;
        justify-content: center;
        justify-items: center;
    
    
        div{
            justify-items: center;
            height: 50px;
            z-index: 8;
            
        }
    
        .dia{
            border-bottom: solid 1px white;
            height: 25px;
        }
    }


}


footer{
    width: 100%;
    background-color: $bg-section3;
    display: flex;
    height: 220px;
    align-items: center;
    z-index: 10;

    .footer__section{
        margin-left: 10px;
    }

    .instapic{
        margin-right: 10px;
        width: 100%;

        a{
            img{
                float: right;
                margin-right: 10px;
            }
        }
        
    }

}




































.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: white;
    height: 1.5px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}
















.iniciosesion{
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/fondois.jpg);
    color: white;
    


    .datos1{
        width: 80%;
        margin: 0 auto;
        background-color: #262728;
        height: 85vh;

        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            height: 100%;
            width: 50%;
            margin: 0 auto;
            font-family: 'Roboto', sans-serif;
            overflow: auto;

            #inputdatos{
                input{
                    border: solid 5px #191b1d;
                }

            }

            #inputdatos2{
                input{
                    border: solid 5px #191b1d;
                }
            }
            

            #inputbutton{
                display: flex;
                justify-content: center;
                width: 100%;
                
            }

            #buttonis{
                display: flex;
                justify-content: center;
            }

           
        }
    }
}






.section__nosotros{
    background-image: url(../imagenes/pesarusam.jpg);
    height: 120rem;

    .caja__nosotros{
        background-color: #262728ae;
        height: 75vh;
        width: 75%;
        color: white;
        margin: 0 auto;

        h1{
            text-align: center;
        }
        p{
            margin-left: 15px;
            margin-right: 15px;
        }

        .item__nos{
            display: flex;
            margin-top: 50px;
            margin-left: 20px;
            margin-right: 20px;
            justify-content: center;

            h2{
                font-size: 20px;
            }
            

            img{
                height: 50px;
                
                
            }


        }

    }
}


.section__nosotros__ubi{
    background-color: $bg-header;

    h1{
        background-color: $bg-header;


        color: white;

    }

    .section__nosotros__infoubi{
        width: 100%;
        height: 65%;
        background-color: $bg-header;
       
        h1{
            color: white;
            text-align: center;

        }
       
        .section__nosotros__infoubi1{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 50px;
            p{
                color: white;
                font-size: 2rem;
            }
            iframe{
                border-radius: 1%;
            }
        }

        .section__nosotros__telefono{
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            margin-top: 100px;
            justify-content: center;
            gap: 20px;
            
            img{
                height: 60px;
            }
            p{
                color: white;
                align-items: center;
                font-size: 40px;
            }
        }

    }



}














@media screen and(max-width: 768px){

    .section__1{
        height: 80vh;
        
        .fondos1{
            height: 70vh;

            
            .grid1{
                height: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                font-size: 20px;

                

                div{
                   
                    .article1{
                        font-size: 15px;
    
                        div{
                            text-align: center;
                            justify-items: center;
                           

                        }

                    }
                    #img{
                        height: 200px;
                    }
                }
        
    
            }



        }
    }



    .section3{
        flex-direction: column;
       

    
        .class__section3{
           display: flex;
           flex-direction: column;
           gap: 15px;

            a img{
                height: 150px;
                width: 150px;

            }   

           
           
    
        }
    
        
    }


    .section4{
        font-family: 'Roboto', sans-serif;
        
    
        .content__s4{
            h1{
                margin-bottom: 30px;
                font-size: 25px;
            }
    
            .fotos__actividades{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 35px;
                div{
                    a{
                        text-align: center;
                        color: white;
                        text-decoration: none;
                    }

                    img{
                        border-radius: 1%;
                    }
                } 
            }
    
    
        }
    
    }







    #sectabla{
        width: 100%;
        margin: 0 auto;
        color: white;
        justify-items: center;
        z-index: 4;
        height: 150vh;
        background-color: $bg-header;
    
    
        h1{
            text-align: center;
            margin-bottom: 60px;
        }
       
    
    
        .horarios{
       
            width: 0 auto;
            height: 1000px;
            background-color: $bg-header;
            
            gap: 14px;


            font-size: 12px;
        
        
            div{
                justify-items: center;
                height: 50px;
                z-index: 8;
                
            }
        
            .dia{
                border-bottom: solid 1px white;
                height: 25px;
            }
        }
    
    
    }
    
    footer{
        width: 100%;
        background-color: $bg-section3;
        display: flex;
        height: 220px;
        align-items: center;
        z-index: 10;
    
        .footer__section{
            margin-left: 10px;
            font-size: 14px;
        }
    
        .instapic{
            margin-right: 10px;
            width: 100%;
    
            a{
                img{
                    height: 40px;
                    width: 40px;
                }
            }
            
        }
    
    }


    .section__nosotros{
        height: 1500px;
    
        .caja__nosotros{
            background-color: #262728ae;
            height: 1100px;
            p{
                margin-left: 15px;
                margin-right: 15px;
            }
    
            .item__nos{
                display: flex;
                margin-top: 50px;
                margin-left: 20px;
                margin-right: 20px;
                justify-content: center;
    
                h2{
                    font-size: 20px;
                }
                
    
                img{
                    height: 50px;
                    
                    
                }
    
    
            }
    
        }
    }


    .section__nosotros__ubi{
        height: 1000px;
        .section__nosotros__infoubi{
            width: 100%;
            height: 1000px;
            background-color: $bg-header;
           
            h1{
                color: white;
                text-align: center;
    
            }
           
            .section__nosotros__infoubi1{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: 50px;
                p{
                    color: white;
                    font-size: 2rem;
                }
                iframe{
                    border-radius: 1%;
                }
            }
    
            .section__nosotros__telefono{
                display: flex;
                flex-direction: row;
                justify-content: stretch;
                margin-top: 100px;
                justify-content: center;
                gap: 20px;
                
                img{
                    height: 60px;
                }
                p{
                    color: white;
                    align-items: center;
                    font-size: 40px;
                }
            }
    
        }
    
    
    
    }
    


}











@media screen and (max-width: 900px){
    .section__1{
        height: 1000px;
        
        .fondos1{
            height: 900px;

            
            .grid1{

                div{
                   
                    .article1{
                        font-size: 17px;
    
                    }

                    img#img{
                        height: 200px;
                    }
                }
        
    
            }



        }
    }



    .section3{
        flex-direction: column;
       

    
        .class__section3{
           display: flex;
           flex-direction: column;
           gap: 15px;

            a img{
                height: 150px;
                width: 150px;

            }   

           
           
    
        }
    
        
    }


    .section4{
        height: 1300px;
        font-family: 'Roboto', sans-serif;
        
    
        .content__s4{
            h1{
                margin-bottom: 30px;
                font-size: 25px;
            }
    
            .fotos__actividades{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 35px;
                div{
                    a{
                        text-align: center;
                        color: white;
                        text-decoration: none;
                    }

                    img{
                        border-radius: 1%;
                    }
                } 
            }
    
    
        }
    
    }







    #sectabla{
        width: 100%;
        margin: 0 auto;
        color: white;
        justify-items: center;
        z-index: 4;
        height: 150vh;
        background-color: $bg-header;
    
    
        h1{
            text-align: center;
            margin-bottom: 60px;
        }
       
    
    
        .horarios{
       
            width: 0 auto;
            height: 1000px;
            background-color: $bg-header;
            
            gap: 14px;


            font-size: 12px;
        
        
            div{
                justify-items: center;
                height: 50px;
                z-index: 8;
                
            }
        
            .dia{
                border-bottom: solid 1px white;
                height: 25px;
            }
        }
    
    
    }
    
    footer{
        bottom: 0;
        
        .footer__section{
            margin-left: 10px;
            font-size: 14px;
        }
    
        .instapic{
            margin-right: 10px;
            width: 100%;
    
            a{
                img{
                    height: 40px;
                    width: 40px;
                }
            }
            
        }
    
    }
    

    .section__nosotros__ubi{
        height: 1000px;
        .section__nosotros__infoubi{
            width: 100%;
            height: 1000px;
            background-color: $bg-header;
           
            h1{
                color: white;
                text-align: center;
    
            }
           
            .section__nosotros__infoubi1{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: 50px;
                p{
                    color: white;
                    font-size: 2rem;
                }
                iframe{
                    border-radius: 1%;
                }
            }
    
            .section__nosotros__telefono{
                display: flex;
                flex-direction: row;
                justify-content: stretch;
                margin-top: 100px;
                justify-content: center;
                gap: 20px;
                
                img{
                    height: 60px;
                }
                p{
                    color: white;
                    align-items: center;
                    font-size: 40px;
                }
            }
    
        }
    
    
    
    }



}

